@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    width: 80%;
  }

  @media screen and (max-width: 1040) {
    .container {
      max-width: 1280px;
      margin: 0 auto;
      width: 100%;
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
